{% extends "base.html" %} 
{% block content %} 
{% if request.user.is_authenticated %}

<div id="messageContainer">
  {% for message in messages %}
  <div>
    <span class="color-gray">[{{ message.created_at }}]</span>
    {{message.author.first_name }}: {{ message.text }}
  </div>
  {% endfor %}
</div>

<script>
  async function sendMessage() {
    let form = new FormData();
    let token = "{{ csrf_token }}";
    form.append("textmessage", messagefield.value);
    form.append("csrfmiddlewaretoken", token);
    try {
      messageContainer.innerHTML += `
      <div id="deleteMessage">
        <span class="color-gray">[DATUM]</span>
        <span class="color-gray">{{request.user.first_name }}: ${messagefield.value}</span>
      </div>
      `; 
      let response = await fetch("/chat/", {
        method: "POST",
        body: form,
      });
      let jsonResponse = await response.json();
      console.log('json is', jsonResponse)

      document.getElementById('deleteMessage').remove();
      console.log("Success!!");
    } catch (error) {
      console.error("An error occured", error);
    }
  }
</script>

<form onsubmit="sendMessage(); return false;" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="textmessage"
      type="text"
      id="messagefield"
    />
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Send
  </button>
</form>
{% else %}
<h1>Nicht eingeloggt</h1>
<p>
  Du bist aktuell nicht eingeloggt. Bitte logge dich ein. <br />
  Bitte klicke <a href="/login/"> hier</a>
</p>
{% endif %} {% endblock %}
